@page
@model Hello_World_with_DotNetCore.RazorPages.Pages.IndexModel
<html>
<head>
    <title>Hello World App By Using Pazor Pages</title>
</head>
<body>
    <h1>@Model.Heading.Message </h1>
    <hr />
    <h2>@Model.SubHeading</h2>
    <form method="post">
        <label asp-for="Heading.Message">Enter Message:</label>
        <br />
        <input type="text" asp-for="Heading.Message" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>